# Application Environment
APP_ENV=development
APP_FORCE_HTTPS=false
SYSTEM_NAME=Go Fullstack

# Application Configuration
INIT_MAX_RETRY=5
CORS_ALLOW_ORIGINS=http://localhost:5173,http://localhost:3000

# Vault Configuration
VAULT_DEV_MODE=true
VAULT_HOST=localhost
VAULT_PORT=8200
VAULT_TOKEN=EXAMPLE_DEV_VAULT_ROOT_TOKEN
VAULT_ROLE=go-backend

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# MinIO Configuration
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_BUCKET=uploads
MINIO_USE_SSL=false

# Session & Token Configuration (in minutes)
MULTIPLE_SESSION_USER=0
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=10080
SESSION_EXPIRE_MINUTES=30
LOCK_SCREEN_TIMEOUT_MINUTES=10
