services:
  vault:
    image: hashicorp/vault:1.21
    container_name: vault
    ports:
      - "8200:8200"
    # volumes:
    #   - ./config:/vault/config
    #   - ./data:/vault/data
    # environment:
    #   VAULT_ADDR: http://0.0.0.0:8200
    # cap_add:
    #   - IPC_LOCK
    # command: vault server -config=/vault/config/vault.hcl

    # Development mode
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: "toor"
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    command: vault server -dev

  # ใช้ curl ยิงไป init ค่าเริ่มต้นใน Vault
  vault-init:
    image: curlimages/curl:8.5.0
    depends_on:
      - vault
    command: |
      sh -c '
        sleep 5
        curl -X POST \
          -H "X-Vault-Token: toor" \
          -H "Content-Type: application/json" \
          -d "{\"data\":{\"jwt_secret\":\"e4dc8542b2a656613680dd0ff5f87b8f79041b4def0f79717469fe17a4d7a6b9\",\"db_password\":\"superuser01\",\"redis_password\":\"\"}}" \
          http://vault:8200/v1/secret/data/fiber-app
      '