definitions:
  auth.TokenResponse:
    properties:
      accessToken:
        type: string
      refreshToken:
        type: string
      user: {}
    type: object
  shared.ErrorResponse:
    properties:
      code:
        type: string
      message:
        type: string
    type: object
info:
  contact: {}
paths:
  /login:
    post:
      parameters:
      - description: Username
        in: body
        name: username
        required: true
        schema:
          type: string
      - description: Password
        in: body
        name: password
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Tokens and user info
          schema:
            $ref: '#/definitions/auth.TokenResponse'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/shared.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/shared.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/shared.ErrorResponse'
      summary: Login route
      tags:
      - Auth
  /logout:
    post:
      responses:
        "200":
          description: Logout successful
          schema:
            type: string
      security:
      - ApiKeyAuth: []
      summary: Logout route
      tags:
      - Auth
swagger: "2.0"
